 .u-section-1 {
  min-height: 746px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 27px;
}

.u-section-1 .u-image-1 {
  margin-top: 0;
  min-height: 669px;
  background-image: url("images/2730.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 55px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 22px 719px 0 55px;
}

.u-section-1 .u-text-4 {
  font-size: 1.625rem;
  line-height: 1.7;
  font-weight: 700;
  margin: 22px 529px 0 43px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 66px auto 0;
  padding: 16px 51px 17px 50px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 629px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-1 {
    min-height: 552px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    --animation-fade_in-opacity: 0.2;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 474px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 272px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 531px;
  }

  .u-section-1 .u-image-1 {
    min-height: 423px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 254px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 394px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 683px;
  }

  .u-section-1 .u-image-1 {
    min-height: 317px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 74px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("images/background.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 692px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 27px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 33px 0 53px;
}

.u-section-2 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-image-1 {
    height: 236px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 236px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 236px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 236px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-image-1 {
    height: 279px;
  }

  .u-section-2 .u-image-2 {
    height: 279px;
  }

  .u-section-2 .u-image-3 {
    height: 279px;
  }

  .u-section-2 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 298px;
  }

  .u-section-2 .u-image-2 {
    height: 298px;
  }

  .u-section-2 .u-image-3 {
    height: 298px;
  }

  .u-section-2 .u-image-4 {
    height: 298px;
  }
} .u-section-3 {
  min-height: 729px;
}

.u-section-3 .u-shape-1 {
  height: 396px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -333px;
  margin-bottom: -370px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/183875633-mature-male-engineer-with-a-safety-vest-holding-something-imaginary-isolated-on-white-background.webp");
  background-position: 50% 50%;
  margin: -95px 32px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 667px;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 80px 15px 9px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 612px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-top: 52px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-left: 25px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 43px;
    margin-right: auto;
    margin-left: 17px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 606px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -247px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-3 .u-image-1 {
    width: 349px;
    height: 349px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 734px;
  }

  .u-section-3 .u-shape-1 {
    height: 260px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -197px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 49px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 560px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 1px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 438px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 378px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 378px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 0 auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 28px auto 0 0;
  padding: 16px 51px 17px 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 521px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 23px 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 7px;
    margin-left: 30px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: -7px;
    margin-left: -100px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -97px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 27px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 703px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 900px;
  margin: 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 652px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  width: 166px;
  font-weight: 700;
  text-transform: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  width: 183px;
  font-weight: 700;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 18px 31px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 60px 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  line-height: 2;
  margin: 22px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 670px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 47px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 724px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
}